{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
    {% if session.user_id %}
        <br>
        <h2>Pääsivu</h2>
        Rokotuskanta ohjelmalla voi hallinnoida koronarokotuksia<br>
        - Kirjata rokotuksia<br>
        - Korjata kirjauksia<br>
        - Katsella rokotusrekisterin tietoja<br>
        - Tulostaa raportteja<br>
        - Hallita ohjelman tietoa ja käyttäjäoikeuksia<br>
        <br>
    {% else %}
        <br>
        Sinulla ei ole oikeuksia sivulle
        <br>
    {% endif %}
{% endblock %}

