<title>Rokotustiedot</title>
<h1>Uudet tiedot</h1><br>

<form action="/send" method="post">
    <label for="name">Nimi:</label>
    <select name="name" id="name">
        {% for list_users in list_users %}
            <option value="{{ list_users[0] }}">{{ list_users[0] }}</option>
        {% endfor %}
    </select>
    <br><br>
    <label for="place">Rokotuspaikka:</label>
    <select name="place" id="place">
        {% for list_places in list_places %}
            <option value="{{ list_places[0] }}">{{ list_places[00] }}</option>
        {% endfor %}
    </select> 
    <br><br>
    <input type="radio" id="first" name="vacc" value="1" checked="checked">
    <label for="first">1. rokoteannos</label><br>
    <input type="radio" id="second" name="vacc" value="2">
    <label for="second">2. rokoteannos</label><br><br>
    <label for="place">Rokote:</label>
    <select name="vaccname" id="vaccname">
        {% for list_vacc in list_vacc %}
            <option value="{{ list_vacc[0] }}">{{ list_vacc[00] }}</option>
        {% endfor %}
    </select>
    <br><br>
    <label for="date">Rokotuspäivä</label>
    <input type="date" id="date" name="date"><br><br>
    <input type="submit" value="Lähetä">
</form>
