<h1>Uuden tiedot</h1><br>

<form action="/send" method="post">
    <label for="name">Nimi:</label>
    <select name="name" id="name">
        <option value="tomi">tomi</option>
        <option value="heikki">heikki</option>
        <option value="jussi">jussi</option>
    </select>
    <br><br>
    <label for="place">Rokotuspaikka:</label>
    <select name="place" id="place">
        <option value="Helsinki">Helsinki</option>
        <option value="Vantaa">Vantaa</option>
        <option value="Turku">Turku</option>
    </select> 
    <br><br>
    <input type="radio" id="first" name="vacc" value="1" checked="checked">
    <label for="first">1. rokoteannos</label><br>
    <input type="radio" id="second" name="vacc" value="2">
    <label for="second">2. rokoteannos</label><br><br>
    <label for="date">Rokotuspäivä</label>
    <input type="date" id="date" name="date"><br><br>
    <input type="submit" value="Lähetä">
</form>
