{% extends "layout.html" %}
{% block title %}Rokotusrekisteri{% endblock %}
{% block content %}
{% if session.user_id %}
<br>
{% for list_vacc in list_vacc %}
    Nimi: {{ list_vacc[0] }} <br>
    Rokotuspaikka: {{ list_vacc[3] }}<br>
    Rokoteannoksia: {{ list_vacc[1] }}<br>
    Rokotuspäivä: {{list_vacc[2].strftime("%d.%m.%Y")}}<br>
    Rokotenimi: {{ list_vacc[4] }}<br>
    * * * * * <br>
{% endfor %}
{% else %}
    <br>
    Sinulla ei ole oikeuksia sivulle
    <br>
{% endif %}
{% endblock %}
