{% extends "layout.html" %}
{% block title %}Hallintasivu{% endblock %}
{% block content %}
{% if session.rights==1 %}
<br>
<form action="/tools" method="post">
    <label for="place">Uusi rokotuspaikka: </label>
    <input type="text" id="place" name="place"><br><br>
    <input type="submit" value="Lähetä">
</form>
<br>
<form action="/remove" method="post">
    <label for="name">Poista käyttäjä: </label>
    <select name="name" id="name">
        {% for list_users in list_users %}
            <option value="{{ list_users[0] }}">{{ list_users[0] }}</option>
        {% endfor %}
    </select>
    <br><br>
    <input type="submit" value="Lähetä">
</form>
{% if error_code==1 %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>Virhe!</strong> {{message}}
    </div>
{% endif %}
{% else %}
    <br>
    Sinulla ei ole oikeuksia sivulle
    <br>
{% endif %}
{% endblock %}